<div style="font-weight: 300">
  <h2 class="title">TimeWeb</h2>
  <mat-divider class="divider"></mat-divider>
  <h3 class="slogan">aplikacija koja olakšava život.</h3>
  <div class="block">
    <img class="photo-left" src="../../../../assets/Izrezak.PNG" />
    <div style="text-align: justify">
      <h1 style="text-align: left">Lorem Ipsum</h1>
      <p class="block-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>
  <div class="block">
    <img class="photo-right" src="../../../../assets/Izrezak.PNG" />
    <div style="text-align: justify">
      <h1 style="text-align: right">Lorem Ipsum</h1>
      <p class="block-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>
  <div class="block">
    <img src="../../../../assets/Izrezak.PNG" class="photo-left" />
    <div style="text-align: justify">
      <h1 style="text-align: left">Lorem Ipsum</h1>
      <p class="block-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>
  <div class="block">
    <img src="../../../../assets/Izrezak.PNG" class="photo-right" />
    <div style="text-align: justify">
      <h1 style="text-align: right">Lorem Ipsum</h1>
      <p class="block-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>
  <button mat-button color="primary">SAZNAJ VIŠE</button>

  <div style="margin-top: 100px">
    IZRADA <span style="font-weight: 550">EXPRESS</span> WEB STRANICA
  </div>
  <mat-divider class="divider"></mat-divider>
  <p style="margin-top: 20px">fast and furious 2018</p>
  <p class="paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Suspendisse in est ante
    in nibh mauris. Aliquam purus sit amet luctus venenatis lectus. Massa eget
    egestas purus viverra accumsan in. Iaculis nunc sed augue lacus viverra.
    Interdum posuere lorem ipsum dolor sit amet. Quisque egestas diam in arcu.
    Metus aliquam eleifend mi in nulla posuere sollicitudin. Arcu non odio
    euismod lacinia. Malesuada bibendum arcu vitae elementum curabitur vitae
    nunc. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper
    dignissim cras. At risus viverra adipiscing at in tellus. Lobortis mattis
    aliquam faucibus purus in massa tempor nec. Cras adipiscing enim eu turpis
    egestas pretium aenean pharetra. Justo donec enim diam vulputate ut
    pharetra. Id nibh tortor id aliquet lectus proin nibh. Aliquet enim tortor
    at auctor urna nunc id cursus. Facilisis sed odio morbi quis commodo odio
    aenean. Id velit ut tortor pretium viverra suspendisse. Donec ac odio tempor
    orci.
  </p>
  <mat-grid-list cols="3" rowHeight="280px" style="margin-top: 100px">
    <mat-grid-tile colspan="1">
      <img src="../../../../assets/laptop1.PNG"
    /></mat-grid-tile>
    <mat-grid-tile colspan="1">
      <img class="second-photo" src="../../../../assets/laptop2.PNG" />
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <img class="third-photo" src="../../../../assets/laptop3.jpg" />
      <h1 class="title-photo">Invariant</h1>
      <mat-icon class="icon">insert_link</mat-icon>
      <p class="text-photo">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Suspendisse in est
        ante in nibh mauris. Aliquam purus sit amet luctus venenatis lectus.
        Massa eget egestas purus viverra accumsan in. Iaculis nunc sed augue
        lacus viverra. Interdum posuere lorem ipsum dolor sit amet.
      </p>
    </mat-grid-tile>
  </mat-grid-list>

  <div style="font-size: 30px; margin-top: 100px">trebate web stranicu?</div>
  <h3 style="margin-top: 30px">na pravom ste mjestu</h3>
  <button style="margin-top: 30px" mat-button color="primary">
    info@invariant.hr
  </button>
  <div style="margin-top: 200px; font-size: 25px">O NAMA</div>
  <mat-divider class="divider"></mat-divider>
  <p style="margin-top: 25px">we are so great</p>
  <p class="paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Suspendisse in est ante
    in nibh mauris. Aliquam purus sit amet luctus venenatis lectus. Massa eget
    egestas purus viverra accumsan in. Iaculis nunc sed augue lacus viverra.
    Interdum posuere lorem ipsum dolor sit amet. Quisque egestas diam in arcu.
    Metus aliquam eleifend mi in nulla posuere sollicitudin. Arcu non odio
    euismod lacinia. Malesuada bibendum arcu vitae elementum curabitur vitae
    nunc. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper
    dignissim cras. At risus viverra adipiscing at in tellus. Lobortis mattis
    aliquam faucibus purus in massa tempor nec. Cras adipiscing enim eu turpis
    egestas pretium aenean pharetra. Justo donec enim diam vulputate ut
    pharetra. Id nibh tortor id aliquet lectus proin nibh. Aliquet enim tortor
    at auctor urna nunc id cursus. Facilisis sed odio morbi quis commodo odio
    aenean. Id velit ut tortor pretium viverra suspendisse. Donec ac odio tempor
    orci.
  </p>
  <mat-grid-list cols="5" rowHeight="350px" style="margin-top: 100px">
    <mat-grid-tile colspan="1" style="margin-left: 150px">
      <img src="../../../../assets/Izrezak.PNG" class="photo-left" />
      <h2>Profil 1</h2>
      <span>opis</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" style="margin-left: 150px">
      <img src="../../../../assets/Izrezak.PNG" class="photo-left" />
      <h2>Profil 2</h2>
      <span>opis</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" style="margin-left: 150px">
      <img src="../../../../assets/Izrezak.PNG" class="photo-left" />
      <h2>Profil 3</h2>
      <span>opis</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" style="margin-left: 150px">
      <img src="../../../../assets/Izrezak.PNG" class="photo-left" />
      <h2>Profil 4</h2>
      <span>opis</span>
    </mat-grid-tile>
  </mat-grid-list>

  <div style="margin-top: 200px; font-size: 20px">KONAKTIRAJTE NAS</div>
  <mat-divider class="divider"></mat-divider>
  <div style="margin-top: 20px">otvoreni smo za prijedloge.</div>
  <button style="margin-top: 100px" mat-button color="primary">
    info@invariant.hr
  </button>
</div>
