.filter {
  color: #1d1d1d;
  width: 300px;
  height: 45px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
}

.mat-stroked-button:not(.mat-button-disabled) {
  border-color: white;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
