/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 15px;
  margin-right: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1d1d;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

html,
body {
  background-color: #1d1d1d;
  color: white;
  min-width: 1240px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-grid-tile .mat-figure {
  flex-direction: column;
}
